.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#Start , #Status{
    font-size: 22px;
}


#pong{
    background-color: cornsilk;
    line-height: 2;
    margin: 0px;
}

.modal-dialog{
    width: 90%;
}
